$branco: #F8F8F8;
$preto: #252525;
$prima: #3000C0;
$apoio: #7A02C5;
$cinza: #454545;

.bg-branco{
  background-color: $branco;
}

.bg-preto{
  background-color: $preto;
}

.bg-primary{
  background-color: $prima;
}

.bg-apoio{
  background-color: $apoio;
}

.bg-cinza{
  background-color: $cinza;
}

.color-branco{
  color: $branco;
}

.color-preto{
  color: $preto !important;
}

.color-primary{
  color: $prima;
}

.color-apoio{
  color: $apoio;
}

.color-cinza{
  color: $cinza;
}