.inicio-main{
  background-color: $branco !important;
  margin: calc(80px + 60px) auto;
  padding: 0 1rem 15rem;
  max-width: 872px;

  @include media-breakpoint-down(md){
    margin: 80px auto;
    max-width: 100%;
  }
}

.inicio-cases{
  margin: 48px 0;
  display: block;
  text-decoration: none;
  color: $preto;

  &:hover{
    color: $prima;
  }
  
}

.inicio-hr{
  background-color: $prima;
  opacity: .02;
  padding: 2px;
  height: 2px;
  border: 0;
  margin-bottom: 56px;
  border-radius: .5rem;
}