.nav-img{
  border-radius: 100%;
  max-height: 22px;
  aspect-ratio: 1;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  padding: .75rem 1.25rem;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.03);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: $branco;
}