.pages-container{
  margin: auto;
  padding: 3rem 1rem;
  max-width: 896px;

  @include media-breakpoint-down(md){
    margin: 80px auto;
    max-width: 100%;
  }

  p{
    @extend .txt,.copy;
    margin-bottom: 2.65rem;
  }
}

.pages-article{
  background-color: $branco;
  margin: calc(80px + 60px) auto 15rem;
}