.card-hipotese-form{

  max-width: 616px;
  position: relative;
  
  margin: 3rem 0 3rem 4rem;

  border: 1px solid $prima;
  border-radius: 12px;
  padding: 1.5rem;

  @extend .txt,.copy-bold;

  color: $prima;

  &::before{
    content: attr(data-nume);
    font-size: 56px;
    font-weight: 200;
    position: absolute;
    top: 1rem;
    left: -2.75rem;
  }
}